/*
*******************
* =footer
*******************
*/

footer {
	border-top: 1px solid #d1d1d1;
	background-color: #0f201c;
}

footer ul {
	padding-left: 0px;
}

footer nav {
	float: left;
//	margin-left: 10px;
}

footer nav a {
	margin-left: 0px;
	margin-right: 15px;
}



.soc_site {
	font-family: 'BebasNeue';
	margin-left: 50px;
	margin-top: 34px;
	margin-right: 15px;
	height: 35px;
	width: 311px;
}

.soc_site li {
	margin-right: 15px;
}

/*
*******************
* =copyright
*******************
*/

.copyright {
	color: #1eafb5;
	float: right;
	margin-right: 10px;

}