/*
*******************
* =header
*******************
*/

header {
	background-color: #0f201c;
	background: #1c3d37; /* Old browsers */
	background:
		url("../img/dots3.png"),
		-moz-linear-gradient(top, #1c3d37 0%, #0f201c 100%); /* FF3.6+ */
	background:
		url("../img/dots3.png"),
		-webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c3d37,0.95), color-stop(100%,#0f201c,0.95)); /* Chrome,Safari4+ */
	background:
		url("../img/dots3.png"),
		-webkit-linear-gradient(top, #1c3d37 0%,#0f201c 100%); /* Chrome10+,Safari5.1+ */
	background:
		url("../img/dots3.png"), 
		-o-linear-gradient(top, #1c3d37 0%,#0f201c 100%); /* Opera 11.10+ */
	background:
		url("../img/dots3.png"),
		-ms-linear-gradient(top, #1c3d37 0%,#0f201c 100%); /* IE10+ */
	background:
		url("../img/dots3.png"),
		linear-gradient(to bottom, #1c3d37 0%,#0f201c 100%); /* W3C */
}

header h1 {
	text-indent: -9999px;
	float: left;
	margin-bottom: 0px;
	margin-top: 0px;
}

header h1 a {
	background: url('../img/new_logo2.png') no-repeat;
	position: absolute;
	left: -100px;
	width: 454px;
	height: 127px;
	float: left;
	margin: 0px 25px 20px;
}

/*
*******************
* =nav
*******************
*/

nav {
	font-family: 'BebasNeue';
	margin-top: 20px;
}

nav a {
	color: #1eafb5;
	padding: 10px;
	margin-left: 15px;
}

nav a:hover {
	color: 00ffff;
	background: #066685;
	background-image: -webkit-linear-gradient(top, #19c2c8, #066685);
	background-image: -moz-linear-gradient(top, #19c2c8, #066685);
	background-image: -ms-linear-gradient(top, #19c2c8, #066685);
	background-image: -o-linear-gradient(top, #19c2c8, #066685);
	background-image: linear-gradient(to bottom, #19c2c8, #066685);
	text-decoration: none;
}

header nav {
	height: 50px;
	float: right;
	clear: right;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: -55px;
	margin-right: 15px;
}



.lang {
	height: 50px;
	font-family: 'BebasNeue';
	float: right;
	//margin-top: 20px;
	margin-right: 15px;
}

.lang a {
	color: #1eafb5;
	padding: 10px;
}

.lang a:hover {
	color: 00ffff;
	background: #066685;
	background-image: -webkit-linear-gradient(top, #19c2c8, #066685);
	background-image: -moz-linear-gradient(top, #19c2c8, #066685);
	background-image: -ms-linear-gradient(top, #19c2c8, #066685);
	background-image: -o-linear-gradient(top, #19c2c8, #066685);
	background-image: linear-gradient(to bottom, #19c2c8, #066685);
	text-decoration: none;
}

.slash {
	color: #1eafb5;
}

/*
 *******************
 * =banner
 *******************
*/

.col-md-6 {height: 340px;}

h2 {
	margin-top: 30px;
	margin-bottom: 0px;
}

h2 span {
	font-family: 'BebasNeue';
	font-size: 62px;
	font-weight: normal;
	margin-left: 160px;
	margin-right: 55px;
	padding-left: 6px;
	padding-right: 3px;
	display: block;
	text-shadow: 2px 2px 6px #000000;
}

.vitajte {
	margin-left: 170px;
	padding-left: 47px;
	padding-right: 47px;
}

.na_stranke {
	font-size: 36px;
	margin-top: -20px;
	margin-bottom: -20px;
	margin-left: 170px;
	padding-left: 53px;
}

.line-banner-top {
	margin: 0px;
	border: 0px;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(28,51,65,1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.line-bottom {
	margin: 0px;
	border-top: 0px solid #eee;
	height: 5px;
	background: -webkit-radial-gradient(50% 0%, 50% 5px, black 10%, white 100%);
}

.banner {
	background: url('../img/highlight_big.png') no-repeat;
	float: left;
//	border-top: 1px solid;
	margin-left: 0px;
	margin-right: 0px;
//	border-bottom: 1px solid #d1d1d1;
	color: #ffffff;
}

.banner_text {
    width: 555px;
	color: #1eafb5;
	font-size: 18px;
	//margin-left: 0px;
	margin-top: 0px;
	padding-left: 7px;
}

/* Bullet Navigator Skin Begin */
.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av {
	background: url('../img/b12.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb12 div { background-position: -7px -7px; }
.jssorb12 div:hover, .jssorb12 .av:hover { background-position: -37px -7px; }
.jssorb12 .av { background-position: -67px -7px; }
.jssorb12 .dn, .jssorb12 .dn:hover { background-position: -97px -7px; }

/* Arrow Navigator Skin Begin */
.jssora10l, .jssora10r, .jssora10ldn, .jssora10rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url("../img/a10.png") no-repeat;
	overflow:hidden;
}
.jssora10l { background-position: -16px -39px; }
.jssora10r { background-position: -76px -39px; }
.jssora10l:hover { background-position: -136px -39px; }
.jssora10r:hover { background-position: -196px -39px; }
.jssora10ldn { background-position: -256px -39px; }
.jssora10rdn { background-position: -316px -39px; }

#slider1_container {
	position: relative; 
	top: 0px; 
	left: -15px; 
	width: 585px; 
	height: 340px;
	padding-right: 15px;
	padding-left: 15px;
}

#slider1_container::before {
	position: absolute;
	width: 90%;
	height: 20%;
	left: 5%;
	border-radius: 50%;
//	z-index: 0;
	top: 10%;
	content: "";
	box-shadow: 0 -12px 9px rgba(0,0,0,0.6);
}