@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.otf') format('opentype');
}


li {	
	font-size: 25px;
	display: inline;
}	

p {
//	text-transform: capitalize;
}

/*
*******************
* =header
*******************
*/

header h1 {
	text-indent: -9999px;
	float: left;
	margin-top: 20px;
	margin: bottom;
}

header h1 a {
	background: url('../img/crazy_jump_logo.png') no-repeat;
	width: 140px;
	height: 91px;
	float: left;
	margin: 10px 15px 22px;
}

/*
*******************
* =nav
*******************
*/

header li {
	margin-left: 30px;
}

footer li {
	margin-right: 30px;
}

nav {
	font-family: 'BebasNeue';
}

header nav {
	float: right;
	clear: right;
	margin-bottom: 20px;
	margin-left: -55px;
}

footer nav {
	float: left;
	margin-left: -15px;
}

.lang {
	font-family: 'BebasNeue';
	float: right;
	margin-top: 20px;
}

/*
 *******************
 * =banner
 *******************
*/

h2 span {
	font-family: 'BebasNeue';
	font-size: 62px;
//	margin: 0px;
	margin-left: 55px;
	margin-right: 55px;
	padding-left: 6px;
	padding-right: 3px;
	display: block;
}

h2 span.vitajte {
	margin-left: 60px;
	padding-left: 47px;
	padding-right: 47px;
}

h2 span.na_stranke {
	font-size: 36px;
	margin-top: -25px;
	margin-bottom: -25px;
	margin-left: 60px;
	padding-left: 53px;
}

.banner {
	float: left;
	border-top: 1px solid #d1d1d1;
	margin-left: 0px;
	margin-right:0px;
//	border-bottom: 1px solid #d1d1d1;
}

/*
*******************
* =main
*******************
*/

.main {
	border-top: 1px solid #d1d1d1;
}

/*
*******************
* =footer
*******************
*/

footer {
	border-top: 1px solid #d1d1d1;
}

footer ul {
	padding-left: 0px;
}

footer ul.soc_sites {
	font-family: 'BebasNeue';
//	display: inline;
//	margin-left: 0px;
//	margin-right: 20px;
}

/*

footer li {
	font-family: 'BebasNeue';
	display: inline;
	margin-left: 0px;
	margin-right: 20px;
}

*/

/*
*******************
* =copyright
*******************
*/

.copyright {
	float: right;
	margin-right: 100px;

}