@font-face {
	font-family: 'BebasNeue';
	src: url('../font/BebasNeue.otf') format('opentype');
}


li {
	margin-left: 30px;
	font-size: 20px;
	display: inline;
}	

/*
*******************
* =header
*******************
*/

header h1 {
	text-indent: -9999px;
	float: left;
	margin-top: 20px;
	//margin: bottom;
}

header h1 a {
	background: url('../img/crazy_jump_logo.png') no-repeat;
	width: 140px;
	height: 91px;
	float: left;
	margin: 10px 15px 22px;
}

h2 p {
	font-family: 'BebasNeue';
	font-size: 62px;
	margin: 0px;
	margin-left: 55px;
	margin-right: 55px;
	padding-left: 6px;
	padding-right: 3px;
}

.vitajte {
	margin-left: 60px;
	padding-left: 47px;
	padding-right: 47px;
}

.na_stranke {
	font-size: 36px;
	margin-top: -25px;
	margin-bottom: -25px;
	margin-left: 60px;
	padding-left: 53px;
}

/*
*******************
* =nav
*******************
*/

header nav {
	float: right;
	clear: right;
	margin-bottom: 20px;
}

.lang {
	float: right;
	margin-top: 20px;
}

/*
 *******************
 * =banner
 *******************
*/

.banner {
	float: left;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
}

/*
*******************
* =footer
*******************
*/

footer {
	border-top: 1px solid #d1d1d1;
}

footer nav {
	float: left;
}

footer ul {
	padding-left: 0px;
}

footer li {
	display: inline;
	margin-left: 0px;
	margin-right: 20px;
}

/*
*******************
* =copyright
*******************
*/

.copyright {
	float: right;
	margin-right: 100px;

}