/* body {
	background: #0f201c;
}
*/

header h1 {
	text-indent: -9999px;
	float: left;
	margin: bottom;
}

header h1 a {
	background: url('../img/crazy_jump_logo.png') no-repeat;
	width: 140px;
	height: 91px;
	float: left;
	margin: 10px 10px 22px;
}

nav {
	float: right;
	padding-top: 42px;	
}

nav li {
	display: inline;
}

.nav_lang {
	float: right;
	padding-top: 22px;
}

.nav_lang li {
	display: inline;
}

li {
	margin-left: 30px;
	font-size: 20px;
}	