/*
 *******************
 * =miscellaneous
 *******************
*/

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebas-neue-webfont.eot');
	src: url('../fonts/bebas-neue-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebas-neue-webfont.woff') format('woff'),
		url('../fonts/bebas-neue-webfont.ttf') format('truetype'),
		url('../fonts/bebas-neue-webfont.svg#BebasNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}

header {
	border-bottom: solid 1px #ffffff;
}

p {
	font-size: 14px;
	color: #9a9a9a;
	//line-height: 1.4;
}

nav li,
.soc_site li,
.lang li {	
	font-size: 25px;
	display: inline;
}	

.selected,
.lang .selected {
	color: #00ffff;
}

.highlight_purple {
	color: #cd97cf;
}

.highlight_blue {
	color: #01bfd2;
}

.highlight_red {
	color: #a40000;
}

.highlight_green {
	color: #59af1f;
}

.highlight_orange {
	color: #cf6f16;
}

.highlight_brown {
	color: #572b01;
}

/*
*******************
* =header
*******************
*/

header {
	background-color: #0f201c;
	background: #1c3d37; /* Old browsers */
	background:
		url("../img/dots3.png"),
		-moz-linear-gradient(top, #1c3d37 0%, #0f201c 100%); /* FF3.6+ */
	background:
		url("../img/dots3.png"),
		-webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c3d37,0.95), color-stop(100%,#0f201c,0.95)); /* Chrome,Safari4+ */
	background:
		url("../img/dots3.png"),
		-webkit-linear-gradient(top, #1c3d37 0%,#0f201c 100%); /* Chrome10+,Safari5.1+ */
	background:
		url("../img/dots3.png"), 
		-o-linear-gradient(top, #1c3d37 0%,#0f201c 100%); /* Opera 11.10+ */
	background:
		url("../img/dots3.png"),
		-ms-linear-gradient(top, #1c3d37 0%,#0f201c 100%); /* IE10+ */
	background:
		url("../img/dots3.png"),
		linear-gradient(to bottom, #1c3d37 0%,#0f201c 100%); /* W3C */
}

header h1 {
	text-indent: -9999px;
	float: left;
	margin-bottom: 0px;
	margin-top: 0px;
}

header h1 a {
	background: url('../img/new_logo2.png') no-repeat;
	position: absolute;
	left: -100px;
	width: 454px;
	height: 127px;
	float: left;
	margin: 0px 25px 20px;
}

/*
*******************
* =nav
*******************
*/

#nav {
	height: 50px;
	float: right;
	//clear: right;
	margin-top: 14px;
	margin-bottom: 20px;
	//margin-left: -55px;
	margin-right: 15px;
}
	#nav > a {
		display: none;
	}
	#nav li {
		position: relative;
	}	

	/* first level */

	#nav > ul {
		padding: 0px;
		margin: 0px;
	}
		#nav > ul > li {
			float: left;
		}
			#nav > ul > li:hover {
				background: #066685;	
			}

	/* second level */

	#nav li ul {
		position: absolute;
		display: none;
		background:#066685;
		padding: 0px;
		margin: 0px;
	}
		#nav li:hover ul {
			display: block;
			z-index:1000;
			padding: 0px;
			margin: 0px;
		}
/*	
@media only screen and ( max-width: 40em) {
	
	html {
		font-size: 75%; 
	}	

	#nav {
		position: relative;
		top: auto;
		left: auto;
	}
		#nav > a {
			width: 3.125em; 
			height: 3.125em; 
			text-align: left;
			text-indent: -9999px;
			background-color: #e15a1f;
			position: relative;			
		}
			#nav > a:before,
			#nav > a:after {
				position: absolute;
				border: 2px solid #fff;
				top: 35%;
				left: 25%;
				right: 25%;
				content: '';
			}
			#nav > a:after {
				top:60%;
			}

		#nav:not ( :target ) > a:first-of-type,
		#nav:target > a:last-of-type {
			display: block;
		}

		

		#nav > ul {
			position: absolute;
			display: none;
			left: 0;
			right: 0;
			height: auto;
		}

			#nav:target > ul {
				display: block;
			}
			#nav > ul > li {
				width: 100%;
				float: none;
			}

		

		#nav li ul {
			position: static;
		}
}
*/

nav {
	font-family: 'BebasNeue';
}

nav a {
	color: #1eafb5;
	padding: 10px;
	//margin-left: 15px;
}

nav a:hover {
	color: 00ffff;
	background: #066685;
	background-image: -webkit-linear-gradient(top, #19c2c8, #066685);
	background-image: -moz-linear-gradient(top, #19c2c8, #066685);
	background-image: -ms-linear-gradient(top, #19c2c8, #066685);
	background-image: -o-linear-gradient(top, #19c2c8, #066685);
	background-image: linear-gradient(to bottom, #19c2c8, #066685);
	text-decoration: none;
}

.lang {
	height: 50px;
	font-family: 'BebasNeue';
	float: right;
	//margin-top: 20px;
	margin-right: 15px;
}

.lang a {
	color: #1eafb5;
	padding: 10px;
}

.lang a:hover {
	color: 00ffff;
	background: #066685;
	background-image: -webkit-linear-gradient(top, #19c2c8, #066685);
	background-image: -moz-linear-gradient(top, #19c2c8, #066685);
	background-image: -ms-linear-gradient(top, #19c2c8, #066685);
	background-image: -o-linear-gradient(top, #19c2c8, #066685);
	background-image: linear-gradient(to bottom, #19c2c8, #066685);
	text-decoration: none;
}

.slash {
	color: #1eafb5;
}

/*
 *******************
 * =banner
 *******************
*/

.col-md-6 {height: 340px;}

h2 {
	margin-top: 30px;
	margin-bottom: 0px;
}

h2 span {
	font-family: 'BebasNeue';
	font-size: 62px;
	font-weight: normal;
	margin-left: 160px;
	margin-right: 55px;
	padding-left: 6px;
	padding-right: 3px;
	display: block;
	text-shadow: 2px 2px 6px #000000;
}

.vitajte {
	margin-left: 170px;
	padding-left: 47px;
	padding-right: 47px;
}

.na_stranke {
	font-size: 36px;
	margin-top: -20px;
	margin-bottom: -20px;
	margin-left: 170px;
	padding-left: 53px;
}

.line-banner-top {
	margin: 0px;
	border: 0px;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(1,191,210,1), rgba(0,0,0,0));  /*28,51,65,1 */
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.line-bottom {
	margin: 0px;
	border-top: 0px solid #eee;
	height: 5px;
	background: -webkit-radial-gradient(50% 0%, 50% 5px, black 10%, white 100%);
}

.banner {
	background: url('../img/highlight_big.png') no-repeat;
	float: left;
//	border-top: 1px solid;
	margin-left: 0px;
	margin-right: 0px;
//	border-bottom: 1px solid #d1d1d1;
	color: #ffffff;
}

.banner_text {
    width: 555px;
	color: #1eafb5;
	font-size: 18px;
	//margin-left: 0px;
	margin-top: 0px;
	padding-left: 7px;
	text-align: justify;
}

/* Bullet Navigator Skin Begin */
.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av {
	background: url('../img/b12.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb12 div { background-position: -7px -7px; }
.jssorb12 div:hover, .jssorb12 .av:hover { background-position: -37px -7px; }
.jssorb12 .av { background-position: -67px -7px; }
.jssorb12 .dn, .jssorb12 .dn:hover { background-position: -97px -7px; }

/* Arrow Navigator Skin Begin */
.jssora10l, .jssora10r, .jssora10ldn, .jssora10rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url("../img/a10.png") no-repeat;
	overflow:hidden;
}
.jssora10l { background-position: -16px -39px; }
.jssora10r { background-position: -76px -39px; }
.jssora10l:hover { background-position: -136px -39px; }
.jssora10r:hover { background-position: -196px -39px; }
.jssora10ldn { background-position: -256px -39px; }
.jssora10rdn { background-position: -316px -39px; }

#slider1_container {
	position: relative; 
	top: 0px; 
	left: -15px; 
	width: 585px; 
	height: 340px;
	padding-right: 15px;
	padding-left: 15px;
}

#slider1_container::before {
	position: absolute;
	width: 90%;
	height: 20%;
	left: 5%;
	border-radius: 50%;
//	z-index: 0;
	top: 10%;
	content: "";
	box-shadow: 0 -12px 9px rgba(0,0,0,0.6);
}

/*
*******************
* =main
*******************
*/

.main {
//	border-top: 1px solid #d1d1d1;
	padding-top: 35px;
	padding-bottom: 35px;
	margin-left: 0px;
	margin-right: 0px;
}

.main h3 {
//	font-family: 'Open Sans';
	font-size: 25px;
	font-weight: normal;
	color: #666666;
}

.line-content-top {
	margin: 0px;
	border: 0px;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
}

.line-content-bottom {
	margin: 0px;
	margin-top: 25px;
	border: 0px;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
}

.content_1 h3 {
	height: 45px;
	padding-top: 5px;
	padding-left: 65px;
}

.content_1 img {
	float: left;
	margin-top: 25px;
	margin-bottom: 25px;
}

.content_2 img {
	border: 4px solid #d1d1d1;
}

.content_2 h3 {
	margin-top: 5px;
}

.competition_schools {
	padding-left: 0px;
	margin-bottom: 25px;
}

/*
*******************
* =footer
*******************
*/

footer {
	border-top: 1px solid #d1d1d1;
	background-color: #0f201c;
}

footer ul {
	padding-left: 0px;
}

footer nav {
	float: left;
//	margin-left: 10px;
}

footer nav a {
	margin-left: 0px;
	margin-right: 15px;
}



.soc_site {
	font-family: 'BebasNeue';
	margin-left: 50px;
	margin-top: 34px;
	margin-right: 15px;
	height: 35px;
	width: 311px;
}

.soc_site li {
	margin-right: 15px;
}

/*
*******************
* =copyright
*******************
*/

.copyright {
	color: #1eafb5;
	float: right;
	margin-right: 7px;
	font-size: 14px;

}

/*
*******************
* =about
*******************
*/

.about .content_1 h3 {
	padding-top: 25px;
	padding-left: 75px;
}

.text_about {
	padding-top: 30px;
	text-align: justify;
}

.about .col-sm-4 img {
	border-top: 5px solid #d1d1d1;
	border-bottom: 5px solid #d1d1d1;
	border-left: 120px solid #d1d1d1;
	border-right: 120px solid #d1d1d1;
}

.about .section {
	margin-bottom: 50px;
}

.about .section_line {
	margin: 0px;
	border-top: 0px solid #eee;
	height: 5px;
	background: -webkit-radial-gradient(50% 0%, 45% 5px, black 1%, white 100%);
}

/*
*******************
* =gallery
*******************
*/

.gallery h3 {
	padding-left: 75px;
}

.gallery .col-sm-4 img {
	margin-left: 25px;
	border-top: 5px solid #d1d1d1;
	border-bottom: 5px solid #d1d1d1;
	border-left: 10px solid #d1d1d1;
	border-right: 10px solid #d1d1d1;
}

.gallery .section {
	margin-bottom: 50px;
}

.gallery .section_line {
	margin: 0px;
	border-top: 0px solid #eee;
	height: 5px;
	background: -webkit-radial-gradient(50% 0%, 45% 5px, black 1%, white 100%);
}

/*
*******************
* =contact
*******************
*/

#gmap_canvas {
	height: 400px;
	width: 750px;
	margin-top: 25px;

}

#gmap_canvas img {
	max-width:none!important;
	background:none!important;
}



.contact textarea {
	margin-left: 48px;
}

.contact button {
	margin-left: 298px;	
}

/*
*******************
* =faq
*******************
*/


/*
*******************
* =percentage_from_taxes
*******************
*/



.percentage {
	font-size: 425%;
	height: 45px;
	width: 45px;
	position: relative;
	bottom: 20px;
	font-family: 'BebasNeue';
	text-shadow: 2px 2px 6px #000000;
	float: left;
	margin-top: 25px;
	margin-bottom: 0px;
}

/*
*******************
* =training
*******************
*/

.training th, td {
	font-size: 14px;
	color: #9a9a9a;
	border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 20%;
    height: 10%;
}

.training table {
	width: 400px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.training li {
	color: #9a9a9a;
}

.learning_list {
	padding-left: 400px;
}

/*
*******************
* =notice
*******************
*/

/*
*******************
* =rope_skipping
*******************
*/

.rope_skipping .content_2 img {
	width: 100px;
	height: 100px;

}

.rope_skipping .col-sm-4 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rope_skipping .col-sm-4 p, 
.rope_skipping .col-sm-4 h4 {
	text-align: center;
}

/*
*******************
* =events
*******************
*/

.events .col-sm-12 img {
	max-width: 220px;
	border: 4px solid #d1d1d1;
}

.events .content_1 h3 {
	padding-top: 40px;
	padding-bottom: 75px;
	padding-left: 245px;
}

/*
*******************
* =competitions
*******************
*/

.competitions .col-sm-12 img {
	max-width: 220px;
	border: 4px solid #d1d1d1;
}

.competitions .content_1 h3 {
	padding-top: 40px;
	padding-bottom: 75px;
	padding-left: 245px;
}

/*
*******************
* =slovak_cup
*******************
*/

.slovak_cup .col-sm-12 img {
	max-width: 220px;
	border: 4px solid #d1d1d1;
}

.slovak_cup .content_1 h3 {
	padding-top: 40px;
	padding-bottom: 75px;
	padding-left: 245px;
}
