/*
 *******************
 * =miscellaneous
 *******************
*/

/* fix -> stop horizontal scrolling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebas-neue-webfont.eot');
	src: url('../fonts/bebas-neue-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebas-neue-webfont.woff') format('woff'),
		url('../fonts/bebas-neue-webfont.ttf') format('truetype'),
		url('../fonts/bebas-neue-webfont.svg#BebasNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}

ul {
	color: #9a9a9a;
}

h3 {
	font-size: 25px;
	font-weight: normal;
	color: #666666;
}

h4 {
	font-size: 16px;
	font-weight: normal;
	color: #666666;
}

p {
	font-size: 14px;
	color: #9a9a9a;
}

nav li,
.soc_site li,
.lang li {	
	font-size: 25px;
	display: inline;
}	

.selected,
.lang .selected {
	color: #00ffff;
}

.highlight_purple {
	color: #cd97cf;
}

.highlight_blue {
	color: #01bfd2;
}

.highlight_red {
	color: #a40000;
}

.highlight_green {
	color: #59af1f;
}

.highlight_orange {
	color: #cf6f16;
}

.highlight_brown {
	color: #572b01;
}

.highlight_pink {
	color: #ee69a0;
}

/*
*******************
* =header
*******************
*/

header {
	background-color: #0f201c;
	background: #1c3d37; /* Old browsers */
	background:
		url("../img/dots3.png"),
		-moz-linear-gradient(top, #1c3d37 0%, #0f201c 100%); /* FF3.6+ */
	background:
		url("../img/dots3.png"),
		-webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c3d37,0.95), color-stop(100%,#0f201c,0.95)); /* Chrome,Safari4+ */
	background:
		url("../img/dots3.png"),
		-webkit-linear-gradient(top, #1c3d37 0%,#0f201c 100%); /* Chrome10+,Safari5.1+ */
	background:
		url("../img/dots3.png"), 
		-o-linear-gradient(top, #1c3d37 0%,#0f201c 100%); /* Opera 11.10+ */
	background:
		url("../img/dots3.png"),
		-ms-linear-gradient(top, #1c3d37 0%,#0f201c 100%); /* IE10+ */
	background:
		url("../img/dots3.png"),
		linear-gradient(to bottom, #1c3d37 0%,#0f201c 100%); /* W3C */
	border-bottom: solid 1px #ffffff;
}
	header > section > div > h1 {
		text-indent: -9999px;
		float: left;
		margin-bottom: 0px;
		margin-top: 0px;
	}
		header > section > div > h1 > a {
			background: url('../img/new_logo2.png') no-repeat;
			width: 454px;
			height: 127px;
			float: left;
			margin-left: -100px
		}


@media screen and ( max-width: 991px ) {
	header > section > .header-logo {
		z-index: 1000;
	}
}


/*
*******************
* =nav
*******************
*/
nav a {
	color: #1eafb5;
}

#nav {
	float: right;
	margin-bottom: 20px;
	margin-right: 10px;
	font-family: 'BebasNeue';
}
	#nav a:hover {
		color: 00ffff;
		background: #066685;
		background-image: -webkit-linear-gradient(top, #19c2c8, #066685);
		background-image: -moz-linear-gradient(top, #19c2c8, #066685);
		background-image: -ms-linear-gradient(top, #19c2c8, #066685);
		background-image: -o-linear-gradient(top, #19c2c8, #066685);
		background-image: linear-gradient(to bottom, #19c2c8, #066685);
		text-decoration: none;
	}
	#nav > a {
		display: none;
	}
	#nav ul li {
		margin-right: 1px; /* this 1px missing on normal screen size, but now missing on smaller screen size - awful fix */
	}
	#nav li {
		position: relative;
	}
	#nav li a {
		display: block;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 4px;
		padding-bottom: 4px;
	}	

	/* first level */

	#nav > ul > li {
		float: left;
	}
		#nav > ul > li:hover > a {
			color: #00ffff;
			background: #066685;
			background-image: -webkit-linear-gradient(top, #19c2c8, #066685);
			background-image: -moz-linear-gradient(top, #19c2c8, #066685);
			background-image: -ms-linear-gradient(top, #19c2c8, #066685);
			background-image: -o-linear-gradient(top, #19c2c8, #066685);
			background-image: linear-gradient(to bottom, #19c2c8, #066685);	
		}

	/* second level */

	#nav li ul {
		position: absolute;
		display: none;
		top: 100%;
		background:#066685;
		padding: 0px;
		margin: 0px;
	}
		#nav li:hover ul {
			display: block;
			z-index: 1000; /* delete this after refactor slider */
		}
	
@media screen and ( max-width: 991px ) {

	/* nav menu */
	#nav {
		margin: 10px 10px 0px 0px;
	}	
		#nav ul li a {
			background: #066685;
		}	
		#nav > a {
			width: 3.125em; /* 50 */
			height: 3.125em; /* 50 */
			text-align: left;
			text-indent: -9999px;
			position: relative;
			z-index: 1000; /* hack, would be better to find better option */
		}
			#nav > a:before,
			#nav > a:after {
				position: absolute;
				border: 2px solid #1eafb5;
				top: 30%;
				left: 25%;
				right: 25%;
				content: '';
			}
			#nav > a:after {
				top: 60%;
			}
			#nav > a:last-of-type:before,
			#nav > a:last-of-type:after {
				border: 2px solid #00ffff;
			}

		#nav:target {
			background: #066685;
		}
		#nav:not( :target ) > a:first-of-type,
		#nav:target > a:last-of-type {
			display: block;
		}

	/* first level */

	#nav > ul {
		width: 157px;
		height: auto;
		display: none;
		position: absolute;
		padding-left: 0px;
		margin: 0px;
	}
		#nav:target > ul {
			display: block;
			z-index: 1000;
		}
		#nav > ul > li {
			width: 100%;
			float: none;
		}
			#nav > ul > li > a {
				height: auto;
				text-align: left;
			}
				#nav > ul > li:not( :last-child ) > a {
					border-right: none;
					border-bottom: 1px solid #00ffff;
				}

		/* second level */
		
		#nav li ul {
			position: static;
			padding: 1.25em; /* 20 */
			padding-top: 0;
		}
		#nav > ul > li > ul {
			padding: 0px 0px 0px 0px;
		}
			#nav > ul > li > ul > li:not( :last-child ) > a {
				padding-left: 25px;
				padding-right: 10px;
				padding-top: 4px;
				padding-bottom: 4px;
			}
				#nav > ul > li > ul > li:last-child > a {
				padding-left: 25px;
				padding-right: 10px;
				padding-top: 0px;
				padding-bottom: 4px;
				border-bottom: 1px solid #00ffff;
			}
}

/* language selection */

.lang {
	font-family: 'BebasNeue';
	float: right;
	margin-right: 10px;
}
	.lang a {
		color: #1eafb5;
		padding: 10px;
	}
	.lang a:hover {
		color: 00ffff;
		background: #066685;
		background-image: -webkit-linear-gradient(top, #19c2c8, #066685);
		background-image: -moz-linear-gradient(top, #19c2c8, #066685);
		background-image: -ms-linear-gradient(top, #19c2c8, #066685);
		background-image: -o-linear-gradient(top, #19c2c8, #066685);
		background-image: linear-gradient(to bottom, #19c2c8, #066685);
		text-decoration: none;
	}
	.lang > ul {
		margin-bottom: 0px;
		padding: 0px;
	}

header .slash {
	color: #1eafb5;
}

/*
 *******************
 * =banner
 *******************
*/

#banner {
	background: url('../img/highlight_big.png') no-repeat;
	background-position: center top;
	margin: 0 0 0 0;
}

h2 {
	margin: 25px 0 0 0;
}
	h2 > span {
		font-family: 'BebasNeue';
		font-size: 62px;
		font-weight: normal;
		text-align: center;
		margin: 0 0 0 0;
		display: block;
		color: #ffffff;
		text-shadow: 2px 2px 6px #000000;
	}

.middle-text {
	font-size: 36px;
	margin-top: -20px;
	margin-bottom: -20px;
}

.banner-text {
	color: #1eafb5;
	font-size: 18px;
	text-align: justify;
	margin: 0.5em 0;
}

#slippry-slider {
	margin: 25px 0 0 0;
	padding: 21px 0 0 0; /* probably would be better to resize the text 'Vitajte' */
}

@media screen and ( max-width: 1199px ) {
	.banner-text {
		font-size: 16px;
	}
}

@media screen and ( max-width: 991px ) {
	#slippry-slider {
		display: none;
	}
}

/* =banner_lines */
.line-banner-top {
	margin: 0px;
	border: 0px;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(1,191,210,1), rgba(0,0,0,0));  /*28,51,65,1 */
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.line-banner-bottom {
	margin: 0px;
	border-top: 0px solid #eee;
	height: 5px;
	background: -webkit-radial-gradient(50% 0%, 50% 5px, black 10%, white 100%);
}

/*
*******************
* =main
*******************
*/

#main p {
	text-align: justify;
}
#main img {
	//float: left;
	max-width: 100%;
}
#main h3, h4 {
	margin: 0 0 0;
}
.sponsor-all {
	margin-top: 14px;
}
.large-icon-teacher > img,
.large-icon-teacher > div > img {
	box-shadow: 1px 1px 1px;
	border-radius: 8px;
}
.large-icon > img,
.large-icon > div > img {
	box-shadow: 1px 1px 1px;
	border-radius: 8px;
}
.small-icon > img {
	float: left;
}
.small-icon > h3 {
		height: 45px;
		padding-top: 5px;
		padding-left: 65px;
}
@media screen and ( max-width: 1024px ) {
	.small-icon > img {
	float: none;
	}
	.small-icon > h3 {
		padding-left: 0px;
		position: relative;
		top: -15%;
		transform: translateY(15%)
	}
	.small-icon > p {
		padding-top: 0px !important;
	}
}
@media screen and ( max-width: 767px ) {
	.large-icon > img {
		width: 40%;
	}
}
@media screen and ( max-width: 640px ) {
	.large-icon > img {
		width: 50%;
	}
}


/*
.competition_schools {
	padding-left: 0px;
	margin-bottom: 25px;
}
*/

/* =main_lines */
.line-main-top {
	margin-top: 25px;
	margin-bottom: 25px;
	border: 0px;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
}
.line-main-middle, .line-main-bottom {
	margin-top: 0px;
	margin-bottom: 25px;
	border: 0px;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(170,170,170,0.5), rgba(0,0,0,0));
}

/* align a text to the bottom of the image */
@media screen and ( min-width: 1200px) {
	 .text-aligned-bottom-adge-of-image > .container > #main > section > section > h3 {
		position: relative;
		top: -235%;
		transform: translateY(235%);
	}
	.text-aligned-bottom-adge-of-image > .container > #main > section > section > img {
		float: left;
		margin-right: 20px;
	}	
}
@media screen and ( min-width: 992px )  and ( max-width: 1200px) {
	.text-aligned-bottom-adge-of-image > .container > #main > section > section > h3 {
		position: relative;
		top: -180%;
		transform: translateY(180%);
	}
	.text-aligned-bottom-adge-of-image > .container > #main > section > section > img {
		float: left;
		margin-right: 20px;
	}	
}

/*
*******************
* =footer
*******************
*/

footer {
	background-color: #0f201c;
}
	footer #nav {
		width: 100%;
		text-align: center;
		float: none;
		margin: 0px;
	}

	/* first level */
	
	footer #nav > ul {
		padding: 0px;
	}
		footer #nav > ul > li {
			display: inline-block;
			float: none;
		}

		/* second level */
		
		footer #nav li ul {
			top: -200%; /* upside down submenu in footer nav menu :) */ 
		}
			footer #nav li:hover ul {
				text-align: left;
			}

	/* social sites */	

	footer .social-sites {
		width: 100%;
		//margin: 10px auto;
		//float: none;
		padding: 0px;
		text-align: center;
	}
		footer .social-sites > li {
			display: inline-block;
			float: none;
			margin: 0px 7.5px 0px 7.5px;
		}

.social-sites a, a:hover {
	text-decoration: none;
}

/*
*******************
* =copyright
*******************
*/

.copyright {	
	text-align: center;
	color: #1eafb5;
	width: 100%;
	float: none;
	margin: auto;
	font-size: 14px;

}

/*
*******************
* =about
*******************
*/

.about > .container > #main > section > section > .about-teacher-image {
	border-top: 5px solid #d1d1d1;
	border-bottom: 5px solid #d1d1d1;
	border-left: 120px solid #d1d1d1;
	border-right: 120px solid #d1d1d1;
}
.about > .container > #main > section > .small-icon > p {
	padding-top: 30px;
	text-align: justify;
}

@media screen and ( max-width: 1199px ) {
	.about > .container > #main > section > section > .about-teacher-image {
		border-top: 5px solid #d1d1d1;
		border-bottom: 5px solid #d1d1d1;
		border-left: 60px solid #d1d1d1;
		border-right: 60px solid #d1d1d1;
	}
}
@media screen and ( max-width: 767px ) {
	.about > .container > #main > section > section > .about-teacher-image {
		border-top: 5px solid #d1d1d1;
		border-bottom: 5px solid #d1d1d1;
		border-left: 120px solid #d1d1d1;
		border-right: 120px solid #d1d1d1;
	}
}
 
/*
*******************
* =gallery
*******************
*/

.gallery h3 {
	padding-left: 75px;
}

.gallery .col-sm-4 img {
	margin-left: 25px;
	border-top: 5px solid #d1d1d1;
	border-bottom: 5px solid #d1d1d1;
	border-left: 10px solid #d1d1d1;
	border-right: 10px solid #d1d1d1;
}

.gallery .section {
	margin-bottom: 50px;
}

.gallery .section_line {
	margin: 0px;
	border-top: 0px solid #eee;
	height: 5px;
	background: -webkit-radial-gradient(50% 0%, 45% 5px, black 1%, white 100%);
}

/*
*******************
* =contact
*******************
*/

#gmap_canvas {
	display: block;
	width: 100%;
	height: 400px;	
	margin-top: 25px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px;
}

@media screen and ( max-width: 767px) {
	#gmap_canvas {
		display: none;
	}
	.gmap-static-image {
		background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=Račianska+190,+831+06+Bratislava&zoom=16&scale=false&size=600x400&maptype=roadmap&format=png&visual_refresh=true&markers=icon:Crazy Jump%7Cshadow:false%7CRačianska+190,+,+83106+Bratislava");
		width: 100%;
		height: 400px;
		border-radius: 10px;
		box-shadow: 1px 1px 1px;
	}
	#main > section > section > a:link {
		color: inherit;
	}
}

.contact textarea {
	margin-left: 48px;
}

.contact button {
	margin-left: 298px;	
}

/*
*******************
* =faq
*******************
*/

.faq p a {
	text-decoration: underline;
}

.faq p a:hover {
	text-decoration: none;
	color: #a15252;
}

/*
*******************
* =percentage_from_taxes
*******************
*/

.percentage {
	font-size: 425%;
	height: 45px;
	width: 45px;
	position: relative;
	bottom: 20px;
	font-family: 'BebasNeue';
	text-shadow: 2px 2px 6px #000000;
	float: left;
	//	margin-top: 25px;
	margin-bottom: 0px;
}
.percentage_from_taxes p a {
	text-decoration: underline;
}
	.percentage_from_taxes p a:hover {
		text-decoration: none;
		color: #b92ebf;
	}

@media screen and ( max-width: 1024px ) {
	.percentage {
		float: none;
		margin: 0 0 0;
	}
}

/*
*******************
* =training
*******************
*/

.training > .container > #main > section > section > table {
	width: 50%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}
	.training > .container > #main > section > section > table > thead > tr > th,
	.training > .container > #main > section > section > table > tbody > tr> td {
		font-size: 14px;
		color: #9a9a9a;
		border: 1px solid #9a9a9a;
    	border-collapse: collapse;
    	text-align: center;
    	width: 20%;
    	height: 10%;
	}
.training-experience-list > ul > li {
	position: relative;
	left: 37%;
}

@media screen and ( max-width: 1024px) {
	.training > .container > #main > section > section > table {
		width: 100%;
	}
}
@media screen and ( max-width: 1199px) {
	.training-experience-list > ul > li {
	position: relative;
	left: 45%;
	}
}
@media screen and ( max-width: 768px) {
	.training-experience-list > ul > li {
	position: relative;
	left: 15%;
	}
}

/*
*******************
* =notice
*******************
*/

/*
*******************
* =rope_skipping
*******************
*/

.rope_skipping > .container > #main > section > section > div,
.rope_skipping > .container > #main > section > section > div > p {
	text-align: center;
}

/*
*******************
* =events
*******************
*/

/*
*******************
* =competitions
*******************
*/

.competitions > .container > #main > section > section > div {
	margin: 30px 0 30px 0;
}

/*
*******************
* =slovak_cup
*******************
*/

.slovak_cup .image-border-grey {
	max-width: 220px;
	border: 4px solid #d1d1d1;
}

.slovak_cup .content_1 h3 {
	padding-top: 40px;
	padding-bottom: 75px;
	padding-left: 245px;
}

/*
*******************
* =camp
*******************
*/

.camp > .container > #main > section > section > h4 {
	margin-top: 14px;
	color: #ee69a0;

}
.camp .second_camp ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}